<header>
  <div class="wrapper">
      <div class="logo">
          <a href="/"><img src="/assets/images/logo.png" alt="Hexa" /></a>
        </div>
        <div class="menu">
          <div class="menu_res"><i class="fa fa-bars" aria-hidden="true"></i></div>
          <ul class="menuul">
              <li><a routerLink="/about" class="scrollingto">ABOUT US</a></li>
               <li class="menudown"><a href="services.html" class="scrollingto">SERVICES</a>
                  <ul class="menudropdown">
                        <!-- <li><a href="#">Services 1</a></li> -->
                        <li><a routerLink="/cep">Customized employability program</a></li>
                        <li><a routerLink="/dp">Online live digital courses</a></li>
                        <li><a routerLink="/tap">Youth talent accelerator program</a></li>
                        <li><a routerLink="/ctp">Corporate training program</a></li>
                    </ul>
                </li>
                <li><a href="#contactus" class="scrollingto">CONTACT US</a></li>
                <li>
                  <div class="callus">
                        <span>Call today</span>
                        <span>+60 111 6200571</span>
                    </div>
                </li>
                <li><a href="#" class="scrollingto"><i class="fa fa-facebook-square"></i></a></li>
            </ul>
        </div>
    </div>
</header>