<header>
  <div class="wrapper">
      <div class="logo">
          <a href="/"><img src="/assets/images/logo.png" alt="Hexa" /></a>
        </div>
        <div class="menu">
          <div class="menu_res"><i class="fa fa-bars" aria-hidden="true"></i></div>
          <ul class="menuul">
              <li><a href="/about" class="scrollingto">ABOUT US</a></li>
               <li class="menudown"><a href="#services" class="scrollingto">SERVICES</a>
                  <ul class="menudropdown">
                        <!-- <li><a href="#">Services 1</a></li> -->
                        <li><a routerLink="/ctp" fragment="ctp"style="white-space: nowrap;">Corporate training</a></li>
                        <li><a routerLink="/cep" fragment="cep" style="white-space: nowrap;">Customized employability</a></li>
                        <li><a routerLink="/eap" fragment="eap" style="white-space: nowrap;">Employment Acceleration program</a></li>
                        <!-- <li><a routerLink="/dp" fragment="dp" style="white-space: nowrap;">Online live digital courses</a></li>
                        <li><a routerLink="/tap" fragment="tap" style="white-space: nowrap;">Youth talent accelerator program</a></li> -->
                      
                        
                    </ul>
                </li>
                <li><a href="#contactus" class="scrollingto">CONTACT US</a></li>
                <li>
                  <div class="callus">
                        <span>Call today</span>
                        <span>+60 111 6200571</span>
                    </div>
                </li>
                <li><a href="#" class="scrollingto"><i class="fa fa-facebook-square"></i></a></li>
            </ul>
        </div>
    </div>
</header>