<footer id="contactus">
    <div class="wrapper">
        <div class="row p-2">
            <div class="col-md-8 col-sm-6 contactus_div_lft">
                <div class="heading_wt">Get in touch</div>
                <div class="heading_wt_sep"></div>
                <div class="heading_wt_txt">Please fillout the form below to send us an email and we will get back
                    to you as soon as possible</div>
                <form class="contact_form" onSubmit="return contact_form()">
                    <div class="form_div">
                        <input type="text" placeholder="Enter your name" required />
                    </div>
                    <div class="form_div">
                        <input type="email" id="email_hm" placeholder="Enter your email" required />
                    </div>
                    <div class="form_div">
                        <input type="text" id="tel_hm" placeholder="Enter your Phone Number" required />
                    </div>
                    <div class="form_div">
                        <textarea placeholder="Message"></textarea>
                    </div>
                    <div class="form_div">
                        <input type="submit" value="send message" />
                    </div>
                </form>
            </div>
            <!-- <div class="col-md-4 col-sm-6 contactus_div_rt">
                <div class="heading_wt">Contact info</div>
                <div class="heading_wt_sep"></div>
                <div class="contact_div">
                    <span>Headquarters Address</span>
                    <span>Hexamatics Edu Sdn. Bhd.<br>100-3 051, Block J, Jaya One, 72A, Jalan Universiti,<br>46000
                        Petaling Jaya, Selangor, Malaysia.</span>
                </div>
                <div class="row ml-0 mr-0 contact_ph_web_div">
                    <div class="col-md-6">
                        <span>Phone</span>
                        <span>+60 111 6200571</span>
                        <span>+60 376 221975</span>
                    </div>
                    <div class="col-md-6">
                        <span>Website and Email</span>
                        <span>
                            <a href="http://www.hexamaticsedu.com">www.hexamaticsedu.com</a><br />
                            <a href="vijay@hexamatics.com.my">vijay@hexamatics.com.my</a>
                        </span>
                    </div>
                </div>
                 <div class="contact_div" style="margin-bottom:0;">
                    <span>Regional Offices:</span>
                    <span>PT Hexamatics Nusantara, Indonesia.</span>
                    <span>Hexamatics Singapore Pte Ltd, Singapore.</span>
                    <span>Hexamatics Pilipinas Inc, Philippines.</span>
                    <span>Hexamatics Myanmar Ltd, Myanmar.</span>
                    <span>Hexamatics Vietnam Ltd, Vietnam.</span>
                    <span>Hexamatics Bangladesh Ltd , Bangladesh</span>
                </div>
            </div> -->
        </div>
    </div>
    <div class="footer3-2 caontacus">
        <div class="container-24-4 w-container">
            <div class="malaysia2 foot">Malaysia</div>
            <div class="words-3">
                <div class="singapore foot">Singapore</div>
                <div class="bangladesh2 foot">Bangladesh</div>
                <div class="vietnam2 foot">Vietnam</div>
                <div class="myanmar2 foot">Myanmar</div>
                <div class="indonesia foot">Indonesia</div>
                <div class="sril-2">Sri Lanka</div>
                <div class="philiphines2 foot">Philippines</div>
                <div class="taiwan2 foot">Taiwan</div>
                <!-- <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar4-copy w-nav">
                    <div class="container-42 w-container"><a href="#" class="brand-1-copy w-nav-brand"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10bd12a429807616fa548f_1-06.png"
                                width="158"
                                srcset="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10bd12a429807616fa548f_1-06-p-500.png 500w, https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10bd12a429807616fa548f_1-06.png 923w"
                                sizes="(max-width: 767px) 100vw, 158px" alt="" class="image"></a>
                        <div class="w-nav-button">
                            <div class="icon-3 w-icon-nav-menu"></div>
                        </div>
                        <nav role="navigation" class="nav-menu-2-copy w-nav-menu"><a href="#"
                                class="nav-link-5 w-nav-link" style="max-width: 940px;">Home</a><a href="#"
                                class="nav-link-5 w-nav-link" style="max-width: 940px;">About Us</a><a href="#"
                                class="nav-link-5 w-nav-link" style="max-width: 940px;">Offices</a><a href="#"
                                class="nav-link-5 w-nav-link" style="max-width: 940px;">Services</a><a href="#"
                                class="nav-link-5 w-nav-link" style="max-width: 940px;">Culture</a></nav>
                    </div>
                    <div class="w-nav-overlay" data-wf-ignore=""></div>
                </div> -->
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d536" class="div-block-78-copy w-clearfix"
                    style="display: block;">
                    <h2 class="heading-9">Headquarters</h2>
                    <p class="paragraph-19"><strong>Hexamatics Edu Sdn. Bhd.</strong> <br/>100-3 051, Block J, Jaya One,<br />  72A, Jalan Universiti,<br>46000
                        Petaling Jaya, Selangor, Malaysia.<br /><br /><i class="fas fa-phone-square-alt" aria-hidden="true" style="color:yellowgreen"></i> +60 111 6200571
                        <br /><i class="fas fa-phone-square-alt" aria-hidden="true" style="color:yellowgreen"></i> +60 376 221975 <br /> <br />
                        <i class="fas fa-envelope" aria-hidden="true" style="color:#eb37f5"></i><a href="vijay@hexamatics.com.my" style="color: yellowgreen"> vijay@hexamatics.com.my</a></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><a href="https://www.instagram.com/hexamatics/" target="_blank"
                            class="w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                                width="24" alt="" class="image-16"></a><a href="https://www.facebook.com/Hexamatics/"
                            target="_blank" class="w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                                width="11" alt="" class="image-16"></a><a href="#" class="w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                                width="28" alt="" class="image-16"></a><a
                            href="https://www.linkedin.com/company/hexamatics" target="_blank"
                            class="w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                                width="24" alt="" class="image-16"></a><a href="https://www.youtube.com/hexamatics"
                            class="w-inline-block"><img
                                src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                                width="32" alt="" class="image-19"></a></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d554" class="div-block-78-ph-2 w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Philippines Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS CONSULTING INC</strong><br>‍Unit 10-1 10/F One Global
                        Place, <br>5th Ave, Cor. 25th St, <br>BGC, BRGY. Fort Bonifacio, <br>Taguig City <br>‍<br>Tel:
                        <br>Fax: <br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d571" class="div-block-78-indon w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Indonesia Office</h2>
                    <p class="paragraph-19"><strong>PT. HEXAMATICS INFO TECH</strong><br>Ariobimo Sentral 4th floor,
                        <br>Jl. HR Rasuna Said Blok X-2 Kav. 5, <br>Jakarta 12950, Indonesia<br><br>Tel: <br>Fax: <br>
                    </p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d58a" class="div-block-78-vt w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Vietnam Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS ASIA COMPANY LIMITED<br>‍</strong>Floor 5, VIT Tower, 519
                        Kim Ma Street,<br>Ngoc Khanh Ward, Badinh District,<br>Hanoi city, Vietnam<br>‍<br>Tel: <br>Fax:
                        <br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d5a5" class="div-block-78-mynmar w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Myanmar Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS MYANMAR COMPANY LTD</strong>.<br>801-804 Kyauktada
                        Township, <br>561 Merchant Street, <br>11181 Yangon, Myanmar<br>‍<br>Tel: <br>Fax: <br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d5c0" class="div-block-78-bangl w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Bangladesh Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS BANGLADESH LTD</strong><br>Apt.-A/5, Plot-6, Road - 7,
                        <br>Block -C, Niketan, <br>Gulshan - 1, Gulshan, <br>Dhaka, PO : 1212<br><br>Tel: <br>Fax: <br>
                    </p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d5db" class="div-block-78-sri-lanka w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Sri Lanka Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS LANKA ( PRIVATE ) LIMITED<br></strong>No. 261 A, Gonawala
                        Road ( W.P ) Kelaniya,<br>Colombo, Srilangka<br>‍<br>Tel: +94 112670290<br>Fax: +94
                        112670291<br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d5f3" class="div-block-78-taiwan w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Taiwan Office</h2>
                    <p class="paragraph-19"><strong>Coming Soon</strong><br>‍<br>Tel: <br>Fax: <br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
                <div data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d607" class="div-block-78-s w-clearfix"
                    style="display: none;">
                    <h2 class="heading-9">Singapore Office</h2>
                    <p class="paragraph-19"><strong>HEXAMATICS SINGAPORE PTE LTD<br></strong>30 Cecil Street,<br>#19-08
                        Prudential Tower,<br>Singapore, 049712<br>‍<br>Tel: <br>Fax: <br></p>
                    <div class="div-block-146"></div>
                    <!-- <div class="div-block-7"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b79235fab9343d5_XMLID%201%203.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4385b792333729343d4_Asset%202.png"
                            width="11" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e4388810833be080ae2a_Asset%203.png"
                            width="28" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3dee7a4c135_Group%20533.png"
                            width="24" alt="" class="image-16"><img
                            src="https://uploads-ssl.webflow.com/5b10bae2a429802ab5fa52f3/5b10e438da8be3aab1a4c134_Asset%205.png"
                            width="32" alt="" class="image-19"></div> -->
                </div>
            </div><a href="#" class="link-block-2-copy w-inline-block"></a><a href="#"
                data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d622" class="_2-1 w-inline-block"></a><a href="#"
                data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d623" class="_3 w-inline-block"></a><a href="#"
                data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d624" class="_4-3 w-inline-block"></a><a href="#"
                data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d625" class="_5-3 w-inline-block"></a><a href="#"
                class="_6 w-inline-block"></a><a href="#" data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d627"
                class="_7-3 w-inline-block"></a><a href="#" data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d628"
                class="_8-3 w-inline-block"></a><a href="#" data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d629"
                class="_9-4 w-inline-block"></a><a href="#" data-w-id="a680ed33-7eb7-aeaa-f445-6201dd78d62a"
                class="_10-3 w-inline-block"></a>
            <!-- <p class="paragraph-80">© Hexamatics Servcomm 2018. All Rights Reserved<br></p> -->
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

</footer>