<section id="tap">
    <div class="services_banner">
        <img src="/assets/images/services_banner.jpg" width="100%" />
        <div class="wrapper">
            <h1>Services</h1>
        </div>
    </div>
    <div class="innerbanner_heading">
        <div class="wrapper">
            <span><img src="/assets/images/services_heading_img.png" width="80" /></span>
            <span>Youth Digital Talent Accelerator Program</span>
        </div>
    </div>
</section>

<section id="services">
    <div class="services_bg_lft"></div>
    <div class="wrapper">
        <div class="innerheading">Youth Digital Talent Accelerator Program in IT or Telco</div>
        <div class="row services_row services_pagerow mt-4 mb-5">
            <p>In the age of technology, every individual is expected to know the basic of computing at an early age to build a strong foundation in order to be highly competitive in the working world. </p>
        </div>
        <div class="row services_row services_pagerow mt-4 mb-5">      
            <p>To engage the young minds both on creative, exprerimental and logic level, we have designed two exicing program below:</p>
        </div>
        <div class="row services_row services_pagerow mt-4 mb-5">      
            <ul>
                <li>3D Modelling and Animation</li>
                <li>3D Modelling and 3D Printing</li>
            </ul>
        </div>
    </div>
    <div class="services_bg_rt"></div>
</section>