<section id="tap">
    <div class="services_banner">
        <img src="/assets/images/services_banner.jpg" width="100%" />
        <div class="wrapper">
            <h1>Services</h1>
        </div>
    </div>
    <div class="innerbanner_heading">
        <div class="wrapper">
            <span><img src="/assets/images/services_heading_img.png" width="80" /></span>
            <span>Youth Digital Talent Accelerator</span>
        </div>
    </div>
</section>

<section id="services">
    <div class="services_bg_lft"></div>
    <div class="wrapper">
        <!-- <div class="innerheading">Youth Digital Talent Accelerator Program in IT or Telco</div> -->
        <div class="row services_row services_pagerow mt-4 mb-5">
            <p>Youth Digital talent accelerator aims to equip young talents with various trending skills required in the future jobs globally. The knowledge, skill, experience and exposure will allow for deep exploration of ones interest and talent in pursuing a unique digital path in life.</p>
           <br><p>As we are experiencing more and more of the digital path being integrated into our life, our children will surely require the expertise to manage the digital experience of the current and be confident to evolve with the digital future.</p>
           <br><p>Hexamatics Edu works closely with schools and industry experts to bring forward digital experiences such as Virtual Reality, 3D modelling and Animation, Coding, 3D printing, Automation and other various exciting programs for our youths.</p>
           <br><p>Get in touch with us today to organize a program for your school students!</p>
        </div>
        <div class="row services_row services_pagerow mt-4 mb-5">
            <div style="display: inline-block;margin-left: 300px;">
                <h4>
                    <span id="js-rotating">The Maya/3ds Max Interface, Modeling, Animation Principles, Character Modeling, Create Animation,
                        Dynamic and Effects,
                        Unity,
                        Youths and Social Media,
                        Pro You Tuber,
                        Virtual Reality,
                        3D Printing,
                        Coding, 
                        Rapid Prototype,
                        Construct 3D Modeling,
                        Data transfer to RP Machine
                        </span></h4>
            </div>
            <!-- <ul>
                <li>3D Modelling and Animation</li>
                <li>3D Modelling and 3D Printing</li>
            </ul> -->
        </div>
    </div>
    <div class="services_bg_rt"></div>
</section>