<section id="ctp">
  <div class="services_banner">
    <img src="/assets/images/services_banner.jpg" width="100%" />
    <div class="wrapper">
      <h1>Services</h1>
    </div>
  </div>
  <div class="innerbanner_heading">
    <div class="wrapper">
      <span><img src="/assets/images/services_heading_img.png" width="80" /></span>
      <span>Corportate Training</span>
    </div>
  </div>
</section>

<section id="services">
  <div class="services_bg_lft"></div>
  <div class="wrapper">
    <!-- <div class="innerheading">Online Live Digital Program in IT or Telco</div> -->
    <div class="row services_row services_pagerow mt-4 mb-5">
      <p>In the new age of technology, every individual is expected to know the basics of computing and for those who
        are looking for high demand jobs, they must be fully prepared. It does matter where you are located now as you
        can learn remotely and gain all the knowledge and expertise from our trainer.</p>
    
    </div>
    <div class="row services_row services_pagerow mt-4 mb-5">
        <p>Senior Management</p>
      <!-- <div class="alert alert-danger" role="alert">
          <h4>
        <span id="js-rotating">
          Competency Development Programme, Data Driven Management, Data Analytics for Decision Making, Dynamic Leadership: Coaching and Mentoring, VUCA Leadership Training
        </span></h4>
      </div>-->
      <ul class="wow fadeInRight">        
          <li>Competency Development Programme </li>
          <li>Data Driven Management</li>
          <li>Data Analytics for Decision Making</li>
          <li>Dynamic Leadership: Coaching and Mentoring</li>
          <li>VUCA Leadership Training</li>
        </ul>
    </div>
    <div class="row services_row services_pagerow mt-4 mb-5">
        <p>Middle Management</p>
<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <h4>Digital Marketing Strategies</h4>
              </div>
              <div class="carousel-item">
                  <h4>Motivation at Work</h4>
              </div>
              <div class="carousel-item">
                  <h4>Self Development</h4>
              </div>
            </div>
          </div>-->
          <ul class="wow fadeInLeft">
          <li>Digital Marketing Strategies </li>
          <li>Motivation at Work</li>
          <li>Self Development</li>
          <li>Powerful Presentation Skills</li>
          <li>Microsoft Full-Suite (Beginner to Advance)</li>
          <li>Customer Experience Enhancement Programme</li>
          <li>Health & Safety Certification</li>
        </ul>
    </div>
  </div>
  <div class="services_bg_rt"></div>
</section>