<section id="dp">
  <div class="services_banner">
    <img src="/assets/images/services_banner.jpg" width="100%" />
    <div class="wrapper">
      <h1>Services</h1>
    </div>
  </div>
  <div class="innerbanner_heading">
    <div class="wrapper">
      <span><img src="/assets/images/services_heading_img.png" width="80" /></span>
      <span>Online Live Digital Courses</span>
    </div>
  </div>
</section>

<section id="services">
  <div class="services_bg_lft"></div>
  <div class="wrapper">
    <div class="innerheading">Online Live Digital Program in IT or Telco</div>
    <div class="row services_row services_pagerow mt-4 mb-5">
      <p>In the new age of technology, every individual is expected to know the basics of computing and for those who
        are looking for high demand jobs, they must be fully prepared. It does matter where you are located now as you
        can learn remotely and gain all the knowledge and expertise from our trainer.</p>
    
    </div>
    <div class="row services_row services_pagerow mt-4 mb-5">
        <p>List of Courses</p>
        <ul>
          <li>Course 1</li>
          <li>Course 2</li>
        </ul>
    </div>
    <div class="row services_row services_pagerow mt-4 mb-5">
        <p>Online Training</p>
        <ul>
          <li>Customizable online learning development</li>
          <li>Ready to use online IT skill training</li>
        </ul>
    </div>
  </div>
  <div class="services_bg_rt"></div>
</section>