<section id="cep">
    <div class="services_banner">
        <img src="/assets/images/services_banner.jpg" width="100%" />
        <div class="wrapper">
            <h1>Services</h1>
        </div>
    </div>
    <div class="innerbanner_heading">
        <div class="wrapper">
            <span><img src="/assets/images/services_heading_img.png" width="80" /></span>
            <span>Talent Sourcing and Development Program</span>
        </div>
    </div>
</section>

<section id="services">
    <div class="services_bg_lft"></div>
    <div class="wrapper">
        <!-- <div class="innerheading">Talent Sourcing and Development Program in IT or Telco</div> -->
        <div class="row services_row services_pagerow mt-4 mb-5">
            <p>This program is designed for employers who are keen to recruit fresh graduates (MLVK, Diploma or Degree students) to work in their organisation with specific skill sets required within their industry. Qualified candidates will be fully sponsored throughout the duration  of the training.</p>
            <ul>
                <li>Certificate in Wireless Network Technology (RF Technicians)</li>
                <li>Certificate in Computer Network and Security</li>
            </ul>
            <p>Our team is specialised in Outreach, Training and Job Placement systemised programs for various industry. Companies with interest in participating in these on going programs will gain great benefits in such as:</p>
            <ul>
                <li>Free talent sourcing from various universities and colleges</li>
                <li>More than 400 candidates filtered through for best in qualification, knowledge, skills and experience for the particular program.</li>
                <li>Sponsored trainings in line with nations agenda of accelerated employment amongst local graduate and equipping</li>
                <li>industries with highly competent and skilled talents.</li>
            </ul>
        </div>
    </div>
    <div class="services_bg_rt"></div>
</section>