<section id="banner">
  <video width="100%" height="70%" autoplay loop>
    <source src="/assets/videos/HexamaticsIntroModified.mp4" type="video/mp4">
    Your browser does not support video tag
  </video>

</section>
<!-- <section id="Subscribe_section">
  <div class="wrapper">
    <div class="Subscribe_section_txt">Study Anywhere & Any time</div>
    <div class="Subscribe_section_textbox"><input type="text" placeholder="subscribe, drop your email id here." /></div>
    <div class="Subscribe_section_btn">subscribe</div>
  </div>
</section> -->
<section id="about">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-5 about_section_lft text-center">
        <img src="/assets/images/about_img.png" />
      </div>
      <div class="col-md-7 about_section_rt">
        <div class="heading">About Us</div>
        <div class="heading_sep"></div>
        <div class="about_subhd"> Training and education specialist</div>
        <div class="about_point">Providing corporate training and education service since 2013.</div>
        <div class="about_point">PSMB (HRDF) accredited training provider.</div>
        <div class="about_point">Analyse, Design, Develop and Integrate talent programmes.</div>
        <div class="about_point">A subsidiary of Hexamatics group of companies (inc. 2002) – an industry expert in
          telco and IT and telecommunication in Malaysia and regionally.</div>
      </div>
    </div>
  </div>
</section>
<section id="strive">
  <div class="wrapper">
    <div class="strive_heading">
      We are a dynamic learning and performance solutions provider that thrives on transforming learning - keeping it
      relevant, impactful, and continuous.
    </div>
  </div>
</section>
<section id="strive">
  <div class="wrapper">
    <div class="heading">We strive for excellence!</div>
    <div class="heading_sep"></div>
    <div class="row strive_row">
      <div class="col-md-4 pb-4">
        <div class="row m-0">
          <div class="col-4 text-center">
            <img src="/assets/images/strive-1.png" alt="Hexa-Services" />
          </div>
          <div class="col-8">
            <div class="strive_heading">IT & Telco Specialist</div>
            <div class="strive_content">20 years of service in the Telco & IT industry – from consulting to human
              capital development & supply.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="row m-0">
          <div class="col-4 text-center">
            <img src="/assets/images/strive-2.png" alt="Hexa-Services" />
          </div>
          <div class="col-8">
            <div class="strive_heading">Regional Presence </div>
            <div class="strive_content">Strong presence and network within Asia, we are based in more than 8 South East
              Asian countries.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="row m-0">
          <div class="col-4 text-center">
            <img src="/assets/images/strive-3.png" alt="Hexa-Services" />
          </div>
          <div class="col-8">
            <div class="strive_heading">Strong Track Record</div>
            <div class="strive_content">We have served high profile corporate clients and government bodies to execute
              various programmes successfully.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-4">
        <div class="row m-0">
          <div class="col-4 text-center">
            <img src="/assets/images/strive-4.png" alt="Hexa-Services" />
          </div>
          <div class="col-8">
            <div class="strive_heading">Training Customisation</div>
            <div class="strive_content">Client’s needs and strategies are looked into to ensure training programmes
              best meet the expectations of stake holders.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row m-0">
          <div class="col-4 text-center">
            <img src="/assets/images/strive-5.png" alt="Hexa-Services" />
          </div>
          <div class="col-8">
            <div class="strive_heading">International Collaboration</div>
            <div class="strive_content">Collaboration with various prominent education institutions and e-learning
              providers.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section id="clients">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-3 text-center clients_div">
        <img src="/assets/images/client-1.jpg" />
        <div>PSMB (HRDF)</div>
      </div>
      <div class="col-md-4 text-center clients_div">
        <img src="/assets/images/client-2.jpg" />
        <div>Talentcorp</div>
      </div>
      <div class="col-md-5 text-center clients_div">
        <img src="/assets/images/client-3.jpg" />
        <div>Yayasan Peneraju Pendidikan Bumiputera</div>
      </div>
    </div>
  </div>
</section>-->
<section id="services">
  <div class="services_bg_lft"></div>
  <div class="wrapper">
    <div class="heading">SERVICES</div>
    <div class="heading_sep"></div>
    <div class="row services_row mt-4 mb-5">
      <div class="col-md-4 text-center">
        <a routerLink="/ctp" fragment="ctp">
          <img src="/assets/images/services-1.png" />
          <div class="services_hd">Corporate Training</div>
         <!-- <div class="services_hd_subtxt">Competency Development Programme</div>-->
        </a>
      </div>

      <div class="col-md-4 text-center">
        <a routerLink="/cep" fragment="cep">
          <img src="/assets/images/services-2.png" />
          <div class="services_hd">Talent Sourcing & Development Programme</div>
        </a>
      </div>

      <div class="col-md-4 text-center">
        <a routerLink="/eap" fragment="eap"><img src="/assets/images/services-3.png" />
          <div class="services_hd">Employment Acceleration Program</div>
        </a>
      </div>

    </div>
    <!-- <div class="row services"> -->
      <div class="col-md-4 offset-2 text-center">
        <a routerLink="/dp" fragment="dp">
          <img src="/assets/images/services-4.png" />
          <div class="services_hd">Online Live Digital Courses</div>
        </a>
      </div>


      <div class="col-md-4 text-center">
        <a routerLink="/tap" fragment="tap">
          <img src="/assets/images/services-5.png" />
          <div class="services_hd">Youth Digital Talent Accelerator Programs</div>
        </a>
      </div>
    </div>
  </div>
  <div class="services_bg_rt"></div>
</section>